@media screen and (min-width: 0px) and (max-width: 768px) {
  header > nav {
    display: none;
  }
  .burger-btn {
    display: block;
  }
  .profile-name {
    display: none;
  }
  .menu-panel.active {
    right: 0;
  }

  #home {
    flex-direction: column-reverse !important;
  }

  .profile,
  .intro {
    height: 50% !important;
    width: 100% !important;
  }

  .my-photo {
    border-radius: 100% !important;
    border: 3px solid rgb(49, 49, 49) !important;
    box-shadow: 0px 0px 20px rgb(80, 80, 80, 0.5) !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .social {
    width: auto !important;
    padding: 5px 5px !important;
  }

  .my-photo {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: 10px !important;
  }

  .intro {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    column-gap: 10px !important;
  }

  .intro h1 {
    font-size: 1.5rem !important;
    margin: 0 !important;
  }

  .intro p {
    font-size: small !important;
  }

  .download-cv {
    width: 200px;
    padding: 5px 10px;
  }

  .download-cv a {
    font-size: medium;
    font-weight: 800;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .my-photo {
    width: 150px !important;
    height: 150px !important;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  #home {
    flex-direction: column-reverse;
  }

  .profile {
    height: 50% !important;
    width: 100%;
  }

  .my-photo {
    width: 220px !important;
    height: 220px !important;
    margin-bottom: 10px !important;
  }

  .intro {
    height: 50% !important;
    width: 100% !important;
    justify-content: start !important;
    align-items: center !important;
    text-align: center !important;
    column-gap: 10px !important;
  }

  .intro h1 {
    font-size: 2.5rem !important;
    margin: 0 !important;
  }

  .intro p {
    font-size: medium !important;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .my-photo {
    width: 250px !important;
    height: 250px !important;
  }

  .intro h1 {
    width: 100% !important;
    font-size: 2rem !important;
    margin: 0 !important;
  }

  .social {
    width: auto !important;
    padding: 5px 5px !important;
  }

  .download-cv a {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .profile {
    height: 60% !important;
  }

  .intro {
    height: 40% !important;
    align-items: center;
  }

  .slot-1 {
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
  }
  .slot-2 {
    top: 0;
    left: 70%;
    transform: translateX(-50%);
    width: 170px;
    height: 170px;
  }
  .slot-3 {
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
  }
  .slot-4 {
    bottom: 0;
    right: 10%;
    transform: translateX(10%);
    width: 280px;
    height: 280px;
  }

  .project > img {
    width: 500px;
    height: 300px;
  }

  .project > h4 {
    font-size: 1rem;
  }

  .field {
    width: 80%;
  }

  .field > label {
    width: 150px;
    font-size: 1rem;
    text-align: right;
  }

  .field > textarea {
    height: 80px;
  }

  .contact-form > button {
    width: 150px;
    height: 40px;
    font-size: 1rem;
  }
}
